.otpps{
    width:550px;
    height:260px;
    position:absolute;
    border-radius:7px;
    background-color:#ecebeb;
    border:1px solid black;
    box-shadow:0px 5px 20px black;
   top:30%;
   left:33%;
  
}


.btn{
    width: 50%;
    position:relative;
    display:inline-block;
}


.btn1{
    position:sticky;
    top:-390px;
    left:340px;
    display:inline-block;
    width:147px;
}

@media only screen and (max-width: 900px) {

    .otpps{
        width:360px;
        height:260px;
        position:absolute;
        border-radius:7px;
        background-color:#ecebeb;
        border:1px solid black;
        box-shadow:0px 5px 20px black;
       top:30%;
       left:0%;
      
    }
    
}